In [11]:
email_list = ['info@gmail.com','support@yahoo.com','some@google.com','body@tata.com']

In [12]:
def extract_emails(list1):
    for i in email_list:
        s = i[(i.index('@')+1):(i.index('.'))]
        print(s)

In [13]:
extract_emails(email_list)

gamail
yahoo
google
tata

In [14]:
import seaborn as sns

In [16]:
df = sns.load_dataset('iris')

In [17]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [19]:
df['species'].nunique()

3

In [20]:
df['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [22]:
df.loc[df['sepal_length']>(df['sepal_length'].mean())].shape[0]

70

In [27]:
df.loc[(df['petal_width']>1.5) & (df['petal_length']<5)]

     sepal_length  sepal_width  petal_length  petal_width     species
56            6.3          3.3           4.7          1.6  versicolor
70            5.9          3.2           4.8          1.8  versicolor
85            6.0          3.4           4.5          1.6  versicolor
106           4.9          2.5           4.5          1.7   virginica
121           5.6          2.8           4.9          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica

In [25]:
df.nlargest(1,['sepal_length'])[['sepal_length','species']]

     sepal_length    species
131           7.9  virginica

In [26]:
df.groupby(['species']).mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [1]:
x = '''2
1 1 2
10 10 6 9 4 5 7 1 8 929 100'''

In [8]:
y = ' '.join(x.splitlines()).split(' ')
y

['2',
 '1',
 '1',
 '2',
 '10',
 '10',
 '6',
 '9',
 '4',
 '5',
 '7',
 '1',
 '8',
 '929',
 '100']

In [17]:
import numpy as np
y = ' '.join(x.splitlines()).split(' ')
y = np.array(y,dtype=int)
Q1 = np.percentile(y,25)
Q3 = np.percentile(y,75)
IQR = Q3-Q1
for i in y:
    if i < (Q1 - 1.5*IQR) or i > (Q3 + 1.5*IQR):
        print(i,end=' ')

929 100

In [14]:
Q1 = np.percentile(y,25)
Q1

2.0

In [15]:
Q3 = np.percentile(y,75)
Q3

9.5